/**
 * 
 *@author:JuvoS
 */
html {
	font: normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	  /* 2 */
	  -webkit-text-size-adjust: 100%;
	  -ms-text-size-adjust: 100%;
	  /* 3 */
	  background: #ffffff;
	  color: #444444;
	/*font-family: sans-serif;
	-webkit-text-size-adjust: 100%/*关闭自动调整字体大小*/;*/
	/*可选中情况设定*/
	/*-webkit-user-select: none;  /* Chrome all / Safari all /opera15+*/  
	/*-moz-user-select: none;     /* Firefox all */  
	/*-ms-user-select: none;      /* IE 10+ */  */*/*/
	/*user-select: none;*/
}

body {
	margin: 0
}
.bgWhite{
	background-color: #ffc;
}
.banner{
	width: -webkit-fill-available;
	height: 100px;
}
a{
	background: transparent;
}
a:active,a:hover{
	outline: 0;
}
/*
 * Style
 */
a,
.mb-link {
  color: #0077dd;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.mb-link:hover {
  color: #005599;
  text-decoration: underline;
}